#nav1{
    background: linear-gradient(90deg, $negrosuave 2%, rgba(13,24,170,1) 50%, $negrosuave 98%);
    border-bottom: 2px solid #000;
}
#demo{
    padding-top: $un;
    width: 100vw;
    cursor: pointer;
}
.carousel-item {
    height: 266.44px;
}
.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
ul a::first-letter{
    color: white;
    font-size: $un;
}
#navColor:active{
    color:rgba(3,7,66,1) ;
}
.text-center{
    color: whitesmoke;
    padding-top:$un;
}
#scaY{
    transition: all 2s ease-in-out;
}
#scaY:hover{
    transform: translateY(0.2rem);
}